@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat:wght@400;600;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: #333;
}
li{
    float: left;
    
}
li a{
    display: block;
    align-items: center;
    padding: 15px 18px;
    text-decoration: none;
    font-size: x-large;
    margin: 20px 30px;
    font-family: 'Montserrat';
    font-weight: 400;
}
li a:hover{
    background-color: black;
    color: white;
}
.right{
    float: right;
}
.pc a{
    color: #E07C24;
    font-size: xx-large;
    border: 4px hotpink solid;
    border-radius: 25%;
    padding: 10px;
}
.pc a:hover{
    color: white;
    background-color: hotpink;
    border: 4px solid #00c69a;
}
.nav{
    width: 100%;
}
.hero{
    width: 85vw;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 83vh;
    background-color: #E03B8B;
    border-radius: 20px;
    flex-direction: column;
}
.hero h1{
    color: white;
    font-weight: 900;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 70px;
}
.ceo{
    margin-top: 25px;
    font-family: 'Montserrat', cursive;
    font-weight: 600;
    color: #CAD5E2;
}
.fa-arrow-right{
    position: fixed;
    margin-top: 430px;
    margin-left: 830px;
    font-size: xx-large;
    font-size: 60px;
    color: white;
}